<div class="guides">
<!-- Parent of 'featured', nested ui-view  -->
  <h1>Guides</h1>

  <div class="">
    <video src="../img/gifguide.mp4" autoplay loop >

    </video>
    <h1>1</h1>
      <p>In short, you'll need clothing that keeps you warm and dry, a pair of snowboarding boots, and some safety gear.
      The full rundown of snowboarding equipment available is a long list, but these are the basics every snowboarder should have:
      A snowboard leash, to prevent runaway boards
      Snow pants or a snow bib, which is basically a pair of snow overalls
      A snow coat, not too loosely fit
      Snowboarding boots, which are specially designed to strap easily into the snowboard
      A crash helmet, to protect your head
      Thermal layers, such as long johns and wool socks
      Snow gloves with gauntlet cuffs
      Skiing or snowboarding goggles, to reduce glare and protect your eyes from particulate matter.
    </p>
  </div>

</div>



<div ui-view='featured'></div>
