<menu-directive></menu-directive>
<section class="search">


<div id="map"></div>


  <div class="search-main" >
    <li ng-repeat='resort in resorts' ng-init='i=0;photos = photos[i++]'>

      <p>{{resort.name}}</p>
      <p>{{resort.formatted_address}}</p>
      <p>{{resort.rating}}</p>
      <img ng-src='{{photos}}'>
    </li>

  </div>

  <div class="search-right">
    <button type="button" ng-click='getResorts()'>Get Resorts</button>
    <button type="button" ng-click='showMap()'>Show Map</button>
    <input type="text" ng-model='zipCity'>
    <button type="button" ng-click='geoCode(zipCity)'>Find</button>
  </div>


</section>
