<section>
  <ul id="slide-out" class="side-nav">
      <li>
          <div class="userView">
              <div class="background">

              </div>

              <a href="#!name"><span class="white-text name">John Doe</span></a>

          </div>
      </li>
      <li><a ui-sref="home"><i class="material-icons">cloud</i>Home</a></li>
      <li><a href="#!">Second Link</a></li>
      <li>
          <div class="divider"></div>
      </li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</section>
