<!-- <div id="page-wrap">
  <h1 id="top">Smooth Page Scrolling</h1>
  <section>

    <div class="gear-board">
      <ul>
        <li><img src="../../img/gear/1-supermoto.svg" alt=""></li>
        <li><img src="../../img/gear/2-darkstar.svg" alt=""></li>
      </ul>
    </div>

  </section>
</div> -->

<div id="page-wrap">

  <h1 id="top">Gears</h1>

  <ul>
    <li><a href="#two">Scroll to Section Two</a></li>
    <li><a href="#three">Scroll to Section Three</a></li>
  </ul>

  <h2 id="one">Section One</h2>

  <li><img src="../../img/gear/1-supermoto.svg" alt=""></li>

  <h2 id="two">Section Two</h2>

  <p><a href="#top">Top</a></p>

  <li><img src="../../img/gear/2-darkstar.svg" alt=""></li>

  <h2 id="three">Section Three</h2>

  <p><a href="#top">Top</a></p>



</div>
