.jumbo {
  width: 100%;
  display: flex;
  position: relative;
}

.jumbo {
  .logo {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 70px;
    height: 60px;

    img {
      width: 100%;
    }
  }

  .jumbo-text {
    bottom: 0;
    padding: 50px;
    position: absolute;
    width: 100%;
    left: 0;
    div {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    position: relative;
    color: #9a9a9a;
    background-color: #fff;
    display: block;
      h1 {
        font-size: 60px;
line-height: 70px;
color: #393939;
font-weight: normal;
text-transform: upperc
}
h2 {
  font-size: 35px;
line-height: 45px;
color: #656565;
}
      }
    }
  }




}
