.jumbo {

  // display: flex;
  position: relative;
  height: 100vh;
  background-image: url('../img/jumbo-overlay.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 200px;
    height: 70px;
    display: flex;

    a {
      display: flex;
      width: 60%;
      margin-right: 15px;
    }
    img {
      width: 100%;
    }
    h1 {
      display: flex;
      width: 40%;
      color: white;
    }
}


  .jumbo-text {
    // padding: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    z-index: 1;
    background: transparent;
    div {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    position: relative;
    color: #9a9a9a;
    // background-color: #fff;
    display: block;
      h1 {
        font-size: 60px;
        line-height: 70px;
        color: #393939;
        font-weight: normal;
        text-transform: uppercase;
}
        h2 {
          font-size: 35px;
        line-height: 45px;
        color: #656565;
        }

        a {
          background-color: #393939;
          font-size: 14px;
          line-height: 22.54px;
          font-family: "ProximaNova-Semibold" , Arial, sans-serif;
          font-weight: normal;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          text-align: center;
          min-width: 170px;
          color: #fff !important;
          margin: 12.5px 0;
          padding: 12.5px 25px;
          transition: min-width 0.3s;
        }
      }
    }


.jumbo-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  overflow: hidden;


  // img {
  //   position: relative;
  //   background-repeat: no-repeat;
  //   background-position: 50% 50%;
  //   background-size: cover;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  //   background-image: url('../img/jumbimg.png');
  //
  // }

  video {
    z-index: -2;
    width: 100%;
    height: 100%;

    position: absolute;


  }

}



}
