.ham-box {
  right: 0;
  width: 200px;
  height: 61px;
  position: fixed;
  z-index: 9999999999;
}
.hamburger{
/*width:5%;*/
  height:60px;
	line-height:60px;
  background:#2B2B2B;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  /*z-index:10000000000000;*/
}
.cross{
  height:60px;
  background:#2B2B2B;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  /*z-index:10000000000000;*/
}
.menu {
  margin-top: 60px;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  right: 0;
  background: #2B2B2B;
  position: absolute;
  text-align: center;
  z-index: 1000000;
  background-image: url('https://hd.unsplash.com/photo-1436262513933-a0b06755c784');

}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #2B2B2B 1px solid;
}

.menu li:hover {
    display: block;
    background: #2B2B2B;
    padding: 15px 0 15px 0;
    border-bottom: #2B2B2B 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #fff;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
