.search {
  // display: flex;
  // width: 100%;
  // #map {
  //   height: 300px;
  //   width: 300px;
  // }

  .search-main {
    display: flex;
    width: 70%;

    li {
      display: flex;
    }
  }

  .search-right {
    display: flex;
    width: 150px;
  }
}
